* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

::selection {
    background-color: transparent;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2vw;
}


button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    outline: none;
}

.die {
    width: 12vw;
    height: 12vw;
    margin: 2vw;
    border: 1vw solid black;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    cursor: pointer;
}